adventure/
bestiary/
book/
generated/
spells/
class/
actions.json
adventures.json
backgrounds.json
books.json
bastions.json
changelog.json
charcreationoptions.json
conditionsdiseases.json
cultsboons.json
decks.json
deities.json
encounters.json
feats.json
fluff-backgrounds.json
fluff-bastions.json
fluff-charcreationoptions.json
fluff-conditionsdiseases.json
fluff-feats.json
fluff-items.json
fluff-rewards.json
fluff-trapshazards.json
fluff-vehicles.json
foundry-actions.json
foundry-feats.json
foundry-items.json
foundry-optionalfeatures.json
foundry-psionics.json
foundry-races.json
foundry-rewards.json
foundry-vehicles.json
items-base.json
items.json
languages.json
life.json
loot.json
magicvariants.json
makebrew-creature.json
makecards.json
monsterfeatures.json
msbcr.json
names.json
objects.json
optionalfeatures.json
psionics.json
races.json
recipes.json
renderdemo.json
rewards.json
senses.json
skills.json
tables.json
trapshazards.json
variantrules.json
vehicles.json
fluff-languages.json
fluff-objects.json
fluff-optionalfeatures.json
fluff-races.json
fluff-recipes.json

