.CreateSheet {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
}

.CreateSheet-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	font-size: calc(10px + 2vmin);
	color: white;
}

.abilities-container {
	display: flex;
	flex-direction: column;
	gap: 5px; 
	justify-content : center;
	align-items: center;
	justify-content: center;
}

.ability-row {
	font-size: 5px;
	border: 1px solid #ccc;
	line-height: 1.5;
	padding: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}